{
    "address": {
        "name": "API-{{ ipAddress }}",
        "address-type": "{{ addressType }}",
        "ip-address": "{{ ipAddress }}",
        "description": "Added by Update-SD-Blocklist: {{ timeStamp }}",
        "address-version": "IPV4",
        "definition-type": "CUSTOM"
    }
}
